extends layout

block content
  form(action="/login" method="post")
    if flash && flash.errors
      each error in flash.errors
        p= error.msg
        
    if flash && flash.success
      each success in flash.success
        p= success.msg
    p
      label Username
      input(type="text" name="username")
    p
      label Password
      input(type="password" name="password")
    p
      input(type="submit" value="Submit")